{
    "openapi": "3.0.1",
    "info": {
        "description": "The Accounts service provides REST APIs that are responsible for the management of global accounts, and the creation and management of directories, subaccounts, and their custom properties/tags. \nGlobal accounts represent a business entity and contain contract information, including customer details and purchased entitlements. The global account is the context for billing each customer. \nUse the subaccount APIs to structure your global account according to your organization's and project's requirements regarding members, authorizations, and quotas. This service also provides you with APIs for creating and managing directories. While the use of directories is optional, they allow you to further organize and manage your subaccounts according to your specific technical and business needs. The service also lets you manage the custom properties/tags that you associate with your directories and subaccounts.\nNOTE: These APIs are relevant only for cloud management tools feature set B. For details and information about whether this applies to your global account, see [Cloud Management Tools - Feature Set Overview](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/caf4e4e23aef4666ad8f125af393dfb2.html).\n\nSee also:\n* [Authorization](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/3670474a58c24ac2b082e76cbbd9dc19.html)\n* [Rate Limiting](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/77b217b3f57a45b987eb7fbc3305ce1e.html)\n* [Error Response Format](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/77fef2fb104b4b1795e2e6cee790e8b8.html)\n* [Asynchronous Jobs](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/0a0a6ab0ad114d72a6611c1c6b21683e.html)",
        "termsOfService": "http://www.sap.com",
        "title": "Accounts Service",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://accounts-service.cfapps.eu10.hana.ondemand.com",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "OAuth2": [

            ]
        }
    ],
    "tags": [
        {
            "description": "Directory Operations",
            "name": "Directory Operations"
        },
        {
            "description": "Job Management",
            "name": "Job Management"
        },
        {
            "description": "Subaccount Operations",
            "name": "Subaccount Operations"
        },
        {
            "description": "Global Account Operations",
            "name": "Global Account Operations"
        }
    ],
    "paths": {
        "/accounts/v1/directories": {
            "post": {
                "description": "Directories allow you to organize and manage your subaccounts according to your technical and business needs.\nA directory can contain one or more subaccounts and directories. The maximum number of directory levels allowed in a global account is 5.\nUsing directories to group subaccounts is optional.\nIf you have directories in your account model, you can still create subaccounts directly under your global account.\n\nRequired scope: $XSAPPNAME.global-account.account-directory.create",
                "operationId": "createDirectory",
                "parameters": [
                    {
                        "description": "The unique ID of the directory's parent entity.\n You can create the directory directly under a global account or another directory.",
                        "in": "query",
                        "name": "parentGUID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDirectoryRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirectoryResponseObject"
                                }
                            }
                        },
                        "description": "Created",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Create a directory",
                "tags": [
                    "Directory Operations"
                ]
            }
        },
        "/accounts/v1/directories/{directoryGUID}": {
            "delete": {
                "description": "Delete the directory, including its subdirectories, subaccounts, and their content.<br/><br/>Required scope: $XSAPPNAME.global-account.account-directory.delete",
                "operationId": "deleteDirectory",
                "parameters": [
                    {
                        "description": "The GUID of the directory to delete.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Specifies whether to delete the directory and all its content, including subdirectories, subaccounts, and data contained within (default is false). Content refers to any entity or data, such as applications, service instances, spaces, active subscriptions, brokers, platform, and members, depending on the type of subaccount (Neo or multi-environment).  When set to false, the request fails if the directory contains subdirectories and subaccounts, even if they are empty. When set to true, all content in the directory is permanently deleted. The deletion may take a while depending on the amount of content in your subaccounts.",
                        "in": "query",
                        "name": "forceDelete",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirectoryResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Delete a directory",
                "tags": [
                    "Directory Operations"
                ]
            },
            "get": {
                "description": "Get details for a specified directory.<br/><br/>Required scope: $XSAPPNAME.global-account.account-directory.read",
                "operationId": "getDirectory",
                "parameters": [
                    {
                        "description": "The GUID of the directory for which to get details.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Whether to get the contents of the directory, for example the subaccounts it contains.",
                        "in": "query",
                        "name": "expand",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirectoryResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get a directory",
                "tags": [
                    "Directory Operations"
                ]
            },
            "patch": {
                "description": "Update the properties of a directory.\nYou can update its display name, description, and assigned labels.<br/><br/>Required scope: $XSAPPNAME.account-directory.update",
                "operationId": "updateDirectory",
                "parameters": [
                    {
                        "description": "The GUID of the directory to update.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDirectoryRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirectoryResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Update a directory",
                "tags": [
                    "Directory Operations"
                ]
            }
        },
        "/accounts/v1/directories/{directoryGUID}/changeDirectoryFeatures": {
            "patch": {
                "description": "Global account admins can enable additional features in a directory or remove features that are already enabled.\n\nBy default, all directories provide the following basic features: (1) group and filter subaccounts, (2) monitor usage and costs, and (3) set custom properties and tags. Optionally, you can allow a directory to also manage its own entitlements and its user authorizations.\n\nAll existing subaccounts and subdirectories in the directory implicitly inherit the capabilities of the enabled features in this directory.\n\nNOTE: The user authorizations management feature must be applied in combination with the entitlement management feature. In other words, if the directory has both entitlement and user authorization management enable, you cannot disable just the entitlement management feature without also disabling user authorization management. Likewise, if a directory has only the default features enabled, you cannot enable user authorization management without also enabling entitlement management.\n\nNOTE: Your multi-level account hierarchy can have more than one directory enabled with user authorization and/or entitlement management; however, only one directory in any directory path can have these features enabled. In other words, other directories above or below this directory in the same path can only have the default features specified. If you are not sure which features to enable, we recommend that you set only the default features, and then add features later on as they are needed.\n\nRequired scope: $XSAPPNAME.account-directory.update",
                "operationId": "updateDirectoryFeatures",
                "parameters": [
                    {
                        "description": "The GUID of the directory to update directory features.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDirectoryTypeRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirectoryResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Add or remove features for a directory",
                "tags": [
                    "Directory Operations"
                ]
            }
        },
        "/accounts/v1/directories/{directoryGUID}/customProperties": {
            "get": {
                "description": "Get all the custom properties that are assigned as key-value pairs to a given directory.\n\nNOTE: This API is deprecated. Custom properties are now called labels. The \"customProperties\" field supports only single values per key and is now replaced by the string array \"labels\", which supports multiple values per key. This API returns only the first value of any label key that has multiple values assigned to it. Use instead: GET /accounts/v1/directories/{directoryGUID}/labels\n\nRequired scope: $XSAPPNAME.global-account.account-directory.read",
                "operationId": "getDirectoryCustomProperties",
                "parameters": [
                    {
                        "description": "The unique ID of the directory for which to get custom properties.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseCollection"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get custom properties for a directory (deprecated)",
                "tags": [
                    "Directory Operations"
                ]
            }
        },
        "/accounts/v1/directories/{directoryGUID}/labels": {
            "delete": {
                "description": "Remove all user-defined labels that are assigned to a given directory.\n\nTo remove specific labels, use instead: PUT /accounts/v1/directories/{directoryGUID}/labels\n\nRequired scope: $XSAPPNAME.global-account.account-directory.update",
                "operationId": "deleteDirectoryLabels",
                "parameters": [
                    {
                        "description": "The GUID of the directory",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Delete all labels from a directory",
                "tags": [
                    "Directory Operations"
                ]
            },
            "get": {
                "description": "Get all the user-defined labels, that are assigned as key-value pairs to a given directory. \n\nRequired scope: $XSAPPNAME.global-account.account-directory.read",
                "operationId": "getDirectoryLabels",
                "parameters": [
                    {
                        "description": "The GUID of the directory.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get labels for a directory",
                "tags": [
                    "Directory Operations"
                ]
            },
            "put": {
                "description": "Assign user-defined labels to a given directory. Labels are specified as key-value pairs.\n\nRequired scope: $XSAPPNAME.global-account.account-directory.update",
                "operationId": "createDirectoryLabels",
                "parameters": [
                    {
                        "description": "The GUID of the directory.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LabelAssignmentRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Assign labels to a directory",
                "tags": [
                    "Directory Operations"
                ]
            }
        },
        "/accounts/v1/directories/{directoryGUID}/settings": {
            "delete": {
                "description": "Delete directory settings for a specified directory.<br/><br/>Required scope: $XSAPPNAME.account-directory.update",
                "operationId": "deleteDirectorySettings",
                "parameters": [
                    {
                        "description": "The GUID of the directory.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Keys for the property. Limited to 255 characters.",
                        "in": "query",
                        "name": "keys",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Delete directory settings",
                "tags": [
                    "Directory Operations"
                ]
            },
            "get": {
                "description": "Get directory settings for a specified directory.<br/><br/>Required scope: $XSAPPNAME.account-directory.read",
                "operationId": "getDirectorySettings",
                "parameters": [
                    {
                        "description": "The GUID of the directory.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Keys for the property. Limited to 255 characters.",
                        "in": "query",
                        "name": "keys",
                        "required": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get directory settings",
                "tags": [
                    "Directory Operations"
                ]
            },
            "put": {
                "description": "Create or update directory settings for a specified directory.<br/><br/>Required scope: $XSAPPNAME.account-directory.update",
                "operationId": "createOrUpdateDirectorySettings",
                "parameters": [
                    {
                        "description": "The GUID of the directory.",
                        "in": "path",
                        "name": "directoryGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntitySettingsRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Directory not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Create or update directory settings",
                "tags": [
                    "Directory Operations"
                ]
            }
        },
        "/accounts/v1/globalAccount": {
            "get": {
                "description": "Get information for a specified global account.<br/><br/>Required scopes: $XSAPPNAME.global-account.read",
                "operationId": "getGlobalAccount",
                "parameters": [
                    {
                        "description": "If true, returns the structure of the global account including all its children, such as subaccounts and directories, in the account model. The structure content may vary from user to user and depends on users’ authorizations.",
                        "in": "query",
                        "name": "expand",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GlobalAccountResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad Request. The request could not be understood by the server due to malformed syntax. Modify the request before repeating it."
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    },
                    "502": {
                        "description": "Bad Gateway. Server received an invalid response from XSUAA while fulfilling the request."
                    }
                },
                "summary": "Get a global account",
                "tags": [
                    "Global Account Operations"
                ]
            },
            "patch": {
                "description": "Update the display name and/or description of the global account.<br/><br/>Required scope: $XSAPPNAME.global-account.update",
                "operationId": "updateGlobalAccount",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGlobalAccountRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GlobalAccountResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Update a global account",
                "tags": [
                    "Global Account Operations"
                ]
            }
        },
        "/accounts/v1/globalAccount/customProperties": {
            "get": {
                "description": "Get all the custom properties that are assigned as key-value pairs to a given global account.\n\nNOTE: This API is deprecated. Custom properties are now called labels. The \"customProperties\" field supports only single values per key and is now replaced by the \"labels\" field, which is string array that supports multiple values per key. This API returns only the first value of any label key that has multiple values assigned to it. Use instead: GET /accounts/v1/globalAccount/labels\n\nRequired scope: $XSAPPNAME.global-account.read\n",
                "operationId": "getGlobalAccountCustomProperties",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseCollection"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get custom properties for a global account (deprecated)",
                "tags": [
                    "Global Account Operations"
                ]
            }
        },
        "/accounts/v1/subaccounts": {
            "get": {
                "description": "Get information for all subaccounts in the global account and those under directories, if they exist.<br/><br/>Required scopes:\n* When derivedAuthorizations is empty, then $XSAPPNAME.global-account.subaccount.read\n* When derivedAuthorizations=any, then requires any valid token from XSUAA.",
                "operationId": "getSubaccounts",
                "parameters": [
                    {
                        "description": "Returns only the subaccounts in a given directory. Provide the unique ID of the directory.",
                        "in": "query",
                        "name": "directoryGUID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The range of authorizations for which to return information.\n* any: Returns all global accounts for which the user has authorizations on any of the accounts' entities, such as its subaccounts (for example, user is a subaccount admin) or spaces (for example, user is a Cloud Foundry space manager).\n* (empty value): Returns all subaccounts for which the user has explicit authorization ($XSAPPNAME.global-account.subaccount.read) on the global account or directory.",
                        "in": "query",
                        "name": "derivedAuthorizations",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "any"
                            ]
                        }
                    },
                    {
                        "description": "Get all existing subaccounts that match or don't match one or more user-defined labels. Specify the key-value pair of the label using either the equals (=) or not equals operator (!=). Keys, values, and operator must be URL encoded. Use the AND operand to include more than one label in the query. You can specify only a single value per key. Parameter does not support label keys or values that include space, =, or ! characters. Usage example where the keys \"my-key-1\" and \"my-key-2\" have the values \"my-value-1\" and \"my-value-2\" , respectively: my-key-1%3Dmy-value-1%20AND%20my-key-2%3Dmy-value-2",
                        "in": "query",
                        "name": "labelSelector",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseCollection"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    },
                    "502": {
                        "description": "Bad Gateway. Server received an invalid response from XSUAA while fulfilling the request."
                    }
                },
                "summary": "Get all subaccounts",
                "tags": [
                    "Subaccount Operations"
                ]
            },
            "post": {
                "description": "Create a subaccount in a global account or directory.<br/><br/>Required scope: $XSAPPNAME.global-account.subaccount.create",
                "operationId": "createSubaccount",
                "parameters": [
                    {
                        "description": "To prevent errors, special characters must be URL encoded. For example, the e-mail \"name+dev_user@example.com\" must be encoded as: name%2Bdev_user@example.com. You can add users only from the same user base as you (example: sap.default or custom identity provider).",
                        "in": "query",
                        "name": "subaccountAdmin",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSubaccountRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubaccountResponseObject"
                                }
                            }
                        },
                        "description": "Created",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account or subaccount not found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Subdomain already exists in this region"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Create a subaccount",
                "tags": [
                    "Subaccount Operations"
                ]
            }
        },
        "/accounts/v1/subaccounts/clone/{sourceSubaccountGUID}": {
            "post": {
                "description": "Create a clone of an existing Neo-based subaccount in a given global account.<br/><br/>Required scope: $XSAPPNAME.global-account.subaccount.create",
                "operationId": "cloneNeoSubaccount",
                "parameters": [
                    {
                        "description": "The GUID of the Neo subaccount to clone.",
                        "in": "path",
                        "name": "sourceSubaccountGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "To prevent errors, special characters must be URL encoded. For example, the e-mail \"name+dev_user@example.com\" must be encoded as: name%2Bdev_user@example.com. You can add users only from the same user base as you (example: sap.default or custom identity provider).",
                        "in": "query",
                        "name": "subaccountAdmin",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CloneNeoSubaccountRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubaccountResponseObject"
                                }
                            }
                        },
                        "description": "Created",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account or subaccount not found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Subdomain already exists in this region"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Clone a Neo subaccount",
                "tags": [
                    "Subaccount Operations"
                ]
            }
        },
        "/accounts/v1/subaccounts/move": {
            "post": {
                "description": "Move several subaccounts at once to a different directory or out of a directory to the global account.<br/><br/>Required scopes for source directory:\n$XSAPPNAME.global-account.subaccount.read,\n$XSAPPNAME.global-account.subaccount.delete.\n\n\nRequired scopes for target directory:\n$XSAPPNAME.global-account.subaccount.create",
                "operationId": "moveSubaccounts",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MoveSubaccountsRequestPayloadCollection"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseCollection"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Global account or subaccount not found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Cannot move the same subaccount more than once in the same batch move action, or the subaccount is currently being updated by another process"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    },
                    "502": {
                        "description": "Bad Gateway. Server received an invalid response from XSUAA while fulfilling the request."
                    }
                },
                "summary": "Batch move subaccounts",
                "tags": [
                    "Subaccount Operations"
                ]
            }
        },
        "/accounts/v1/subaccounts/{subaccountGUID}": {
            "delete": {
                "description": "Delete the subaccount and its content.</br><br/>Required scope: $XSAPPNAME.global-account.subaccount.delete",
                "operationId": "deleteSubaccount",
                "parameters": [
                    {
                        "description": "The GUID of the subaccount for which to get details.",
                        "in": "path",
                        "name": "subaccountGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Specifies whether to delete the subaccount if it contains content (default is false). Content refers to any entity or data, such as applications, service instances, spaces, active subscriptions, brokers, platform, and members, depending on the type of subaccount (Neo or multi-environment). When set to false, the request fails if the subaccount is not empty. When set to true, all content in the subaccount is permanently deleted. Depending on the amount of content in the subaccount, it may take several hours for the subaccount to be deleted. After the subaccount is deleted, it may take a few more days for some related services to be deleted. You won't be charged for any continued usage of these services in the subaccount during the deletion cleanup.",
                        "in": "query",
                        "name": "forceDelete",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubaccountResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Subaccount or Region Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Subdomain is currently being modified by another process"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Delete a subaccount ",
                "tags": [
                    "Subaccount Operations"
                ]
            },
            "get": {
                "description": "Get information for a specified subaccount.<br/><br/>Required scope: $XSAPPNAME.global-account.subaccount.read",
                "operationId": "getSubaccount",
                "parameters": [
                    {
                        "description": "The GUID of the subaccount",
                        "in": "path",
                        "name": "subaccountGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The range of authorizations for which to return information.\n* any: Returns all global accounts for which the user has authorizations on any of the accounts' entities, such as its subaccounts (for example, user is a subaccount admin) or spaces (for example, user is a Cloud Foundry space manager).\n* (empty value): Returns all subaccounts for which the user has explicit authorization ($XSAPPNAME.global-account.subaccount.read) on the global account or directory.",
                        "in": "query",
                        "name": "derivedAuthorizations",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "any"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubaccountResponseObject"
                                }
                            }
                        },
                        "description": "Ok",
                        "headers": {
                            "X-CorrelationID": {
                                "description": "Unique ID for tracking jobs across services",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Global account or subaccount not found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    },
                    "502": {
                        "description": "Bad Gateway. Server received an invalid response from XSUAA while fulfilling the request."
                    }
                },
                "summary": "Get a subaccount",
                "tags": [
                    "Subaccount Operations"
                ]
            },
            "patch": {
                "description": "Update a subaccount in the global account.<br/><br/>Required scope: $XSAPPNAME.global-account.subaccount.update",
                "operationId": "updateSubaccount",
                "parameters": [
                    {
                        "description": "The GUID of the subaccount to update.",
                        "in": "path",
                        "name": "subaccountGUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateSubaccountRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
[...]
