{
    "openapi": "3.0.1",
    "info": {
        "description": "The SAP SaaS Provisioning service provides REST APIs that are responsible for the registration and provisioning of multitenant applications and services.  \nUse the APIs in this service to perform various operations related to your multitenant applications and services. For example, to get application registration details, subscribe a tenant to your application, unsubscribe a tenant from your application, retrieve all your application subscriptions, update subscription dependencies, and to get subscription job information.\n\nSee also:\n* [Authorization](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/3670474a58c24ac2b082e76cbbd9dc19.html)\n* [Rate Limiting](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/77b217b3f57a45b987eb7fbc3305ce1e.html)\n* [Error Response Format](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/77fef2fb104b4b1795e2e6cee790e8b8.html)\n* [Asynchronous Jobs](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/0a0a6ab0ad114d72a6611c1c6b21683e.html)",
        "termsOfService": "http://www.sap.com",
        "title": "SaaS Provisioning Service",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://saas-manager.cfapps.eu10.hana.ondemand.com",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "OAuth2": [

            ]
        }
    ],
    "tags": [
        {
            "description": "Asynchronous Callback Operations for XSUAA",
            "name": "Asynchronous Callback Operations for XSUAA"
        },
        {
            "description": "Job Management",
            "name": "Job Management"
        },
        {
            "description": "Subscription Operations for App Consumers",
            "name": "Subscription Operations for App Consumers"
        },
        {
            "description": "Job Management for Application Operations (for App Providers)",
            "name": "Job Management for Application Operations (for App Providers)"
        },
        {
            "description": "Application Operations for App Providers",
            "name": "Application Operations for App Providers"
        }
    ],
    "paths": {
        "/api/v2.0/jobs/{jobUuid}": {
            "get": {
                "description": "Get information about the state of the created job.<br/><br/>Required scopes: $XSAPPNAME.job.read",
                "operationId": "getJobRelatedToSaasApplicationById",
                "parameters": [
                    {
                        "description": "The unique ID of a job for which to get information.",
                        "in": "path",
                        "name": "jobUuid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStateResponseObject"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get job errorStatusCode",
                "tags": [
                    "Job Management for Application Operations (for App Providers)"
                ]
            }
        },
        "/jobs-management/v1/jobs/{jobInstanceIdOrUniqueId}/status": {
            "get": {
                "description": "Get information for a specified job, including its ID and its current status.<br/><br/>Required scope: $XSAPPNAME.job.read",
                "operationId": "getStatus",
                "parameters": [
                    {
                        "description": "ID of the job for which to get status",
                        "in": "path",
                        "name": "jobInstanceIdOrUniqueId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get job status",
                "tags": [
                    "Job Management"
                ]
            }
        },
        "/saas-manager/v1/application": {
            "get": {
                "description": "Get registration details for a multitenant application from the SAP SaaS Provisioning service.<br/><br/>Required scopes: $XSAPPNAME.subscription.read",
                "operationId": "getApplicationDetails",
                "parameters": [
                    {
                        "description": "For all the APIs in the Application Operations for App Providers group, use only this authorization method.\nSee the link for details about [how to obtain the access token](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/6391b5dfe4704c6c8b71a32126828e9c.html).",
                        "example": "Bearer <access-token-here>",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegistrationDetailsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get application registration details",
                "tags": [
                    "Application Operations for App Providers"
                ]
            }
        },
        "/saas-manager/v1/application/subscriptions": {
            "get": {
                "description": "Get information about the subscriptions of a multitenant application. The information includes the ID of the subscribed tenant, the subscription code, and subscription dependencies.<br/><br/>Required scopes: $XSAPPNAME.subscription.read",
                "operationId": "getApplicationSubscriptions",
                "parameters": [
                    {
                        "description": "Get subscriptions by tenant ID.",
                        "in": "query",
                        "name": "tenantId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Get subscriptions by state.",
                        "in": "query",
                        "name": "state",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "IN_PROCESS",
                                "SUBSCRIBED",
                                "SUBSCRIBE_FAILED",
                                "UNSUBSCRIBE_FAILED",
                                "UPDATE_FAILED"
                            ]
                        }
                    },
                    {
                        "description": "Get subscriptions by associated global account ID.",
                        "in": "query",
                        "name": "globalAccountId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Get subscriptions by the associated subaccount ID.",
                        "in": "query",
                        "name": "subaccountId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A specific page to return. Used together with the 'size' parameter.<br>You define the number of subscriptions per page and then calculate the number of pages based on the total number of subscriptions.<br>\nFor example, if you defined the size to be 200, and the total number of subscriptions for the requested service is 2000, you get 10 pages of subscriptions in the response.<br>If you requested for page #5, you get 200 subscriptions from position 800 to 1000 in the list.<br>\nNote: An empty result is returned if the page you requested is out of range. In the example above, you would get an empty result for any page after page #10.",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "description": "The number of subscriptions to include in the response. Works together with the 'page' parameter. The maximum number is 500. Any larger number specified still returns 500 subscriptions.",
                        "in": "query",
                        "name": "size",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "-1"
                        }
                    },
                    {
                        "description": "For all the APIs in the Application Operations for App Providers group, use only this authorization method.\nSee the link for details about [how to obtain the access token](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/6391b5dfe4704c6c8b71a32126828e9c.html).",
                        "example": "Bearer <access-token-here>",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Specifies the type of data that is sent.",
                        "example": "<application/json>",
                        "in": "header",
                        "name": "Content-Type",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionsListResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get application subscriptions",
                "tags": [
                    "Application Operations for App Providers"
                ]
            }
        },
        "/saas-manager/v1/application/tenants/{tenantId}/subscriptions": {
            "delete": {
                "description": "Unsubscribe a consumer subaccount tenant from a multitenant application.\nThis REST call is asynchronous.\nAfter executing the API, a job to unsubscribe the tenant is created.\nYou can unsubscribe tenants that are either in the same global account, or in a different global account as the provider of the application.\nYou can unsubscribe tenants with the following statuses: SUBSCRIBED, SUBSCRIBE_FAILED, UNSUBSCRIBE FAILED, UPDATE_FAILED.\nAfter the API has been executed, you will get the notification specifying the details of the created subscription job in the following format: \n“Job for the subscription of application: <i>&lt;appId&gt;</i> and tenant: <i>&lt;tenantId&gt;</i> was created.”\nWhere: \n* <i>&lt;appId&gt;</i> is the ID of the application to which you subscribed the tenant. \n* <i>&lt;tenantId&gt;</i> is the ID of the subscribed tenant.\n\n<b>Prerequisites</b>:\nYou have obtained the access token for the application.\n<br/><br/>Required scopes: $XSAPPNAME.subscription.write",
                "operationId": "deleteApplicationAndTenantSubscriptionAsync",
                "parameters": [
                    {
                        "description": "The ID of the tenant to unsubscribe",
                        "in": "path",
                        "name": "tenantId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "For all the APIs in the Application Operations for App Providers group, use only this authorization method.\nSee the link for details about [how to obtain the access token](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/6391b5dfe4704c6c8b71a32126828e9c.html).",
                        "example": "Bearer <access-token-here>",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Specifies the type of data that is sent.",
                        "example": "<application/json>",
                        "in": "header",
                        "name": "Content-Type",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Accepted",
                        "headers": {
                            "Location": {
                                "description": "A path to job status. This path serves as the relative path for the base request URI of the API 'Get job status'.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Unsubscribe tenant from an application",
                "tags": [
                    "Application Operations for App Providers"
                ]
            },
            "patch": {
                "description": "Update the dependencies of a multitenant application.\nThis REST call is asynchronous.\nAfter executing the API, a job to update dependencies is created.\nYou can update dependencies for tenants with status: SUBSCRIBED, UPDATE_FAILED.\nAfter the API has been executed, you will get the notification specifying the details of the created subscription job in the following format: \n“Job for the subscription of application: <i>&lt;appId&gt;</i> and tenant: <i>&lt;tenantId&gt;</i> was created.”\nWhere: \n* <i>&lt;appId&gt;</i> is the ID of the application to which you subscribed the tenant. \n* <i>&lt;tenantId&gt;</i> is the ID of the subscribed tenant.\n\n<b>Prerequisites</b>:\nYou have obtained the access token for the application.\n<br/><br/>Required scopes: $XSAPPNAME.subscription.write",
                "operationId": "updateApplicationAndTenantSubscriptionAsync",
                "parameters": [
                    {
                        "description": "The ID of the tenant for which to update dependencies",
                        "in": "path",
                        "name": "tenantId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Whether to skip updating the dependencies that haven’t changed.",
                        "in": "query",
                        "name": "skipUnchangedDependencies",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Whether to skip updating dependencies. If set to true, updateApplicationURL must also be set to true.\nThis way, you can update the application URL without updating its dependencies.",
                        "in": "query",
                        "name": "skipUpdatingDependencies",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Whether to update the application URL returned from the app callback. If set to true together with skipUpdatingDependencies, the API call becomes synchronous.",
                        "in": "query",
                        "name": "updateApplicationURL",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "For all the APIs in the Application Operations for App Providers group, use only this authorization method.\nSee the link for details about [how to obtain the access token](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/6391b5dfe4704c6c8b71a32126828e9c.html).",
                        "example": "Bearer <access-token-here>",
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Specifies the type of data that is sent.",
                        "example": "<application/json>",
                        "in": "header",
                        "name": "Content-Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "application/json"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateApplicationDependenciesRequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Accepted",
                        "headers": {
                            "Location": {
                                "description": "A path to job status. This path serves as the relative path for the base request URI of the API 'Get job status'.",
                                "schema": {
                                    "type": "string"
                                },
                                "style": "simple"
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Update subscription dependencies",
                "tags": [
                    "Application Operations for App Providers"
                ]
            }
        },
        "/saas-manager/v1/applications": {
            "get": {
                "description": "List all the multitenant applications to which a subaccount is entitled to subscribe, including their subscription details. Also useful for finding the URLs to launch each of the entitled applications.<br/><br/>Required scopes: $XSAPPNAME.subaccount.application.subscription.read",
                "operationId": "getEntitledApplications",
                "parameters": [
                    {
                        "description": "Indicates the natural language and locale that the client prefers.",
                        "example": "*",
                        "in": "header",
                        "name": "Accept-Language",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntitledApplicationsResponseCollection"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get all entitled multitenant applications",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            }
        },
        "/saas-manager/v1/applications/{appName}": {
            "get": {
                "description": "Get details of a specific multitenant application to which the subaccount is entitled to subscribe. Also useful for finding the URL to launch the application.<br/><br/>Required scopes: $XSAPPNAME.subaccount.application.subscription.read",
                "operationId": "getEntitledApplication",
                "parameters": [
                    {
                        "description": "The name of the multitenant application to which a subaccount is entitled to subscribe.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the subscription plan to the multitenant application.",
                        "in": "query",
                        "name": "planName",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Indicates the natural language and locale that the client prefers.",
                        "example": "*",
                        "in": "header",
                        "name": "Accept-Language",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntitledApplicationsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get details of a multitenant application",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            }
        },
        "/saas-manager/v1/applications/{appName}/subscription": {
            "delete": {
                "description": "Unsubscribe a multitenant application from a subaccount. This process is asynchronous. All data related to the subscribed multitenant application will be deleted in the respective subaccount. To show all application entitlements, including application names, plan names, and subscription status, in a subaccount, use GET /saas-manager/v1/applications/{appName} <br/><br/>Required scopes: $XSAPPNAME.subaccount.application.subscription.update",
                "operationId": "deleteSubscriptionAsync",
                "parameters": [
                    {
                        "description": "The name of the multitenant application from which to unsubscribe the subaccount.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Provide a set of correlation parameters to be used by the initial and subsequent components involved in the request: \n- The Root Context ID (GUID) identifies the initial context within a complex scenario, for example, the initiating user session. \n- The Transaction ID (GUID) identifies a technical transaction. \n- Connection ID (GUID) and Connection Counter uniquely identify together  every request or message leaving a component via outbound communication.",
                        "in": "header",
                        "name": "SAP-PASSPORT",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Unsubscribe an application from a subaccount",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            },
            "patch": {
                "description": "Change the parameters of an existing subscription to a multitenant application. For example, you can change the application plan in a subscription. To update subscription parameters, the subaccount must already be subscribed to the application. <br/><br/>Required scopes: $XSAPPNAME.subaccount.application.subscription.update",
                "operationId": "updateSubscriptionParametersAsync",
                "parameters": [
                    {
                        "description": "The name of the multitenant application to update.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateSubscriptionRequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "422": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Unprocessable Entity"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Update parameters of a multitenant application subscription",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            },
            "post": {
                "description": "Subscribe to a multitenant application from a subaccount.\nThis process is asynchronous.\nYou must be assigned to the subaccount admin role.\nTo check which multitenant applications the subaccount can subscribe to, use the API: GET /saas-manager/v1/applications.<br/><br/>Required scopes: $XSAPPNAME.subaccount.application.subscription.update",
                "operationId": "createSubscriptionAsync",
                "parameters": [
                    {
                        "description": "The name of the multitenant application to subscribe to.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Provide a set of correlation parameters to be used by the initial and subsequent components involved in the request: \n- The Root Context ID (GUID) identifies the initial context within a complex scenario, for example, the initiating user session. \n- The Transaction ID (GUID) identifies a technical transaction. \n- Connection ID (GUID) and Connection Counter uniquely identify together  every request or message leaving a component via outbound communication.",
                        "in": "header",
                        "name": "SAP-PASSPORT",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSubscriptionRequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Subscribe to an application from a subaccount",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            }
        },
        "/saas-manager/v1/applications/{appName}/subscription/labels": {
            "delete": {
                "description": "Remove all user-defined labels that are assigned to a consumer subaccount's subscription to a multitenant application. \n\nTo remove specific labels, use instead: PUT /saas-manager/v1/applications/{appName}/ subscription/labels\nRequired scope: $XSAPPNAME.subaccount.application.subscription.update \n",
                "operationId": "deleteSubscriptionLabels",
                "parameters": [
                    {
                        "description": "The name of the multitenant application to which a subaccount is subscribed.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Remove all labels from a multitenant application subscription",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            },
            "get": {
                "description": "Get all the user-defined labels that are assigned as key-value pairs to a consumer subaccount's subscription to a multitenant application. \n\nRequired scope: $XSAPPNAME.subaccount.application.subscription.read",
                "operationId": "getSubscriptionLabels",
                "parameters": [
                    {
                        "description": "The name of the multitenant application to which a subaccount is subscribed.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get labels for a multitenant application subscription",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            },
            "put": {
                "description": "Assign user-defined labels to a consumer subaccount's subscription to a multitenant application. Labels are specified as key-value pairs. \n\nRequired scope: $XSAPPNAME.subaccount.application.subscription.update\n",
                "operationId": "upsertSubscriptionLabels",
                "parameters": [
                    {
                        "description": "The name of the multitenant application to which a subaccount is subscribed.",
                        "in": "path",
                        "name": "appName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LabelAssignmentRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LabelsResponseObject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExceptionResponseObject"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Assign labels to a multitenant application subscription",
                "tags": [
                    "Subscription Operations for App Consumers"
                ]
            }
        },
        "/saas-manager/v1/subscription-callback/{identifier}/result": {
            "put": {
                "description": "Use the async callback feature to subscribe a subaccount tenant to a multitenant application if a subscription process is time-consuming.<br/><br/>Requires one of the following scopes: $XSAPPNAME.subscription.write or $XSAPPNAME.subscription.service.write",
                "operationId": "subscriptionCallbackAsync",
                "parameters": [
                    {
                        "description": "Unique identifier of the current subscription job.",
                        "in": "path",
                        "name": "identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SaasAsyncSubscriptionRequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Not Authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "429": {
                        "description": "Rate Limit Exceeded",
                        "headers": {
                            "X-Ratelimit-Reset": {
                                "description": "The time at which the rate limit will reset, expressed in milliseconds. It indicates the timestamp when the client can make additional requests without exceeding the rate limit.",
                                "example": "167918400000",
                                "schema": {
                                    "type": "string",
                                    "format": "long"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Subscribe a subaccount tenant to an application",
                "tags": [
                    "Asynchronous Callback Operations for XSUAA"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ApiExceptionResponseObject": {
                "required": [
                    "code",
                    "correlationID",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "Technical code of the error as a reference for support",
                        "format": "int32"
                    },
                    "correlationID": {
                        "type": "string",
                        "description": "Log correlation ID to track the event"
                    },
                    "description": {
                        "$ref": "#/components/schemas/JsonNode"
                    },
                    "details": {
                        "type": "array",
                        "description": "Nesting of error responses",
                        "items": {
                            "$ref": "#/components/schemas/NestingErrorDetailsResponseObject"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "User-friendly description of the error."
                    },
                    "target": {
                        "type": "string",
                        "description": "Describes a data element (for example, a resource path: /online-store/v1/products/123)"
                    }
                }
            },
            "ApplicationResourceDto": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "path": {
                        "type": "string"
                    }
                },
                "description": "The application resource reference in Unified Services. This object includes the name and path of the application resource."
            },
            "ApplicationSubscriptionsResponseObject": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "integer",
                        "description": "Specifies the ability to use the service plan of the subscribed application. The actual amount has no bearing on the maximum consumption limit of the application.",
                        "format": "int64"
                    },
                    "appId": {
                        "type": "string",
                        "description": "The appId of the master XSUAA instance provided when registering the multitenant application in saas registry."
                    },
                    "appName": {
                        "type": "string",
                        "description": "The unique registration name of the deployed multitenant application, as defined by the app developer."
                    },
                    "appNameBeforeMovedFromSaasProvisioning": {
                        "type": "string",
                        "description": "appName of the SaaS Provisioning multitenant application whose subscription was moved to the associated Subscription Manager Service (SMS) multitenant application."
                    },
                    "changedOn": {
                        "type": "string",
                        "description": "The date and time the subscription was last modified. Dates and times are in UTC format."
                    },
                    "code": {
                        "type": "string",
                        "description": "A subscription code for the application."
                    },
                    "commercialAppName": {
                        "type": "string",
                        "description": "The unique commercial registration name of the deployed multitenant application as defined by the app developer."
                    },
                    "consumerTenantId": {
                        "type": "string",
                        "description": "Tenant ID of the global account or subaccount of the consumer that has subscribed to the multitenant application."
                    },
                    "createdOn": {
                        "type": "string",
                        "description": "The date and time the subscription was created. Dates and times are in UTC format."
                    },
                    "dependencies": {
                        "type": "array",
                        "description": "Any reuse services used or required by a subscribed application and its services.",
                        "items": {
                            "$ref": "#/components/schemas/DependenciesResponseObject"
                        }
                    },
                    "error": {
                        "type": "string",
                        "description": "Error description for the following statuses: SUBSCRIBE_FAILED, UNSUBSCRIBE_FAILED, UPDATE_FAILED."
                    },
                    "globalAccountId": {
                        "type": "string",
                        "description": "ID of the associated global account."
                    },
                    "isConsumerTenantActive": {
                        "type": "boolean",
                        "description": "Whether the consumer tenant is active. This field is returned only if one of the following query parameters was used during the API call: tenantId, subaccountId"
                    },
                    "licenseType": {
                        "type": "string",
                        "description": "The license type of the associated global account."
                    },
                    "movedFromSaasProvisioning": {
                        "type": "boolean",
                        "description": "Whether the subscription was moved from the SaaS Provisioning service to its associated Subscription Manager Service application."
                    },
                    "serviceInstanceId": {
                        "type": "string",
                        "description": "The ID of the multitenant application that is registered to the SAP SaaS Provisioning registry."
                    },
                    "state": {
                        "type": "string",
                        "description": "State of the subscriptions. Possible states: IN_PROCESS, SUBSCRIBED, SUBSCRIBE_FAILED, UNSUBSCRIBE_FAILED, UPDATE_FAILED."
                    },
                    "subaccountId": {
                        "type": "string",
                        "description": "ID of the associated subaccount."
                    },
                    "subdomain": {
                        "type": "string",
                        "description": "Consumer Subdomain"
                    },
                    "subscriptionGUID": {
                        "type": "string",
                        "description": "Unique subscription ID associated with the instance of the dependent service to be used for future references, such as 'GET all subscriptions' API call."
                    },
                    "url": {
                        "type": "string",
                        "description": "Application URL"
                    }
                },
                "description": "The list of the requested app subscriptions."
            },
            "CreateSubscriptionRequestPayload": {
                "type": "object",
                "properties": {
                    "planName": {
                        "type": "string",
                        "description": "The name of the subscription plan to a multitenant application"
                    },
                    "subscriptionParams": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "description": "Additional subscription parameters determined by the application provider."
                        },
                        "description": "Additional subscription parameters determined by the application provider."
                    }
                },
                "description": "Create the request to subscribe to a multitenant application from a subaccount."
            },
            "DependenciesResponseObject": {
                "type": "object",
                "properties": {
                    "appId": {
                        "type": "string",
                        "description": "The appId of the master XSUAA instance provided when registering the reusable service in saas registry."
                    },
                    "appName": {
                        "type": "string",
                        "description": "The unique registration name of the linked dependency application."
                    },
                    "dependencies": {
                        "type": "array",
                        "description": "The list of relevant dependencies and their descriptions.",
                        "items": {
                            "$ref": "#/components/schemas/DependenciesResponseObject"
                        }
                    },
                    "error": {
                        "type": "string",
                        "description": "In case there are errors during dependencies' assignments, the descriptions are shown here."
                    },
                    "providerSubaccountID": {
                        "type": "string",
                        "description": "The ID of the provider subaccount."
                    },
                    "xsappname": {
                        "type": "string",
                        "description": "The xsappname configured in the security descriptor file used to create the XSUAA instance."
                    }
                },
                "description": "Any reuse services used or required by a subscribed application and its services."
            },
            "EntitledApplicationsErrorResponseObject": {
                "type": "object",
                "properties": {
                    "appError": {
                        "type": "string",
                        "description": "A response object that contains details about the error an app provider returns to the subscriber. It contains the error code, a user-friendly, customer-oriented error message, technical details about the error, and more."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "The message that describes the error that occurred during the subscription. "
                    }
                },
                "description": "The response object that contains details about an error in case the subscription failed."
            },
            "EntitledApplicationsResponseCollection": {
                "type": "object",
                "properties": {
                    "applications": {
                        "type": "array",
                        "description": "The response  list of all the multitenant applications to which a specified subaccount is entitled to subscribe.",
                        "items": {
                            "$ref": "#/components/schemas/EntitledApplicationsResponseObject"
                        }
                    }
                }
            },
            "EntitledApplicationsResponseObject": {
                "type": "object",
                "properties": {
                    "additionalPlanFeatures": {
                        "type": "array",
                        "description": "The list of features specific to this plan.",
                        "items": {
                            "type": "string",
                            "description": "The list of features specific to this plan."
                        }
                    },
                    "appId": {
                        "type": "string",
                        "description": "The ID returned by XSUAA after the app provider has performed a bind of the multitenant application to a XSUAA service instance."
                    },
                    "appName": {
                        "type": "string",
                        "description": "The unique registration name of the deployed multitenant application as defined by the app developer."
                    },
                    "applicationCoordinates": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "description": "The application coordinates provided in metadata for customer-facing UIs."
                        },
                        "description": "The application coordinates provided in metadata for customer-facing UIs."
                    },
                    "applicationResource": {
                        "$ref": "#/components/schemas/ApplicationResourceDto"
                    },
                    "authenticationProvider": {
                        "type": "string",
                        "description": "The authentication provider of the multitenant application.\n* XSUAA is the SAP Authorization and Trust Management service that defines scopes and permissions for users as tenants at the global account level.\n* IAS is Identity Authentication Service that defines scopes and permissions for users in zones (common data isolation systems across systems, SaaS tenants, and services).\n",
                        "enum": [
                            "XSUAA",
                            "IAS"
                        ]
                    },
                    "automationState": {
                        "type": "string",
                        "description": "The state of the automation solution.",
                        "enum": [
                            "PROCESSING",
                            "OK",
                            "PROCESSING_FAILED"
                        ]
                    },
                    "automationStateMessage": {
                        "type": "string",
                        "description": "The message that describes the automation solution state."
                    },
                    "category": {
                        "type": "string",
                        "description": "The technical name of the category defined by the app developer to which the multitenant application is grouped in customer-facing UIs."
                    },
                    "categoryDisplayName": {
                        "type": "string",
                        "description": "The display name of the category for customer-facing UIs."
                    },
                    "commercialAppName": {
                        "type": "string",
                        "description": "The commercial name of the deployed multitenant application as defined by the app developer."
                    },
                    "createdDate": {
                        "type": "string",
                        "description": "The date the subscription was created. Dates and times are in UTC format.",
                        "format": "date-time"
                    },
                    "customerDeveloped": {
                        "type": "boolean",
                        "description": "Whether the application was developed by a customer. If not, then the application is developed by the cloud operator, such as SAP."
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the multitenant application for customer-facing UIs."
                    },
                    "displayName": {
                        "type": "string",
                        "description": "The display name of the application for customer-facing UIs."
                    },
                    "formationSolutionName": {
                        "type": "string",
                        "description": "Name of the formations solution associated with the multitenant application."
                    },
                    "globalAccountId": {
                        "type": "string",
                        "description": "ID of the associated global account."
                    },
                    "iconBase64": {
                        "type": "string",
                        "description": "The icon of the multitenant application for customer-facing UIs."
                    },
                    "incidentTrackingComponent": {
                        "type": "string",
                        "description": "The application's incident-tracking component provided in metadata for customer-facing UIs."
                    },
                    "labels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "description": "User-defined labels that are assigned as key-value pairs in a JSON array to the multitenant application subscription. \nExample:\n{\n  \"Cost Center\": [\"19700626\"],\n  \"Department\": [\"Sales\"],\n  \"Contacts\": [\"name1@example.com\",\"name2@example.com\"],\n  \"EMEA\":[]\n}",
                            "items": {
                                "type": "string",
                                "description": "User-defined labels that are assigned as key-value pairs in a JSON array to the multitenant application subscription. \nExample:\n{\n  \"Cost Center\": [\"19700626\"],\n  \"Department\": [\"Sales\"],\n  \"Contacts\": [\"name1@example.com\",\"name2@example.com\"],\n  \"EMEA\":[]\n}"
                            }
                        },
                        "description": "User-defined labels that are assigned as key-value pairs in a JSON array to the multitenant application subscription. \nExample:\n{\n  \"Cost Center\": [\"19700626\"],\n  \"Department\": [\"Sales\"],\n  \"Contacts\": [\"name1@example.com\",\"name2@example.com\"],\n  \"EMEA\":[]\n}"
                    },
                    "metadata": {
                        "type": "object",
                        "properties": {
                            "empty": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": {
                            "type": "object",
                            "description": "JSON schema that describes the metadata that the consumer provide when subscribing to the application."
                        },
                        "description": "JSON schema that describes the metadata that the consumer provide when subscribing to the application."
                    },
                    "modifiedDate": {
                        "type": "string",
                        "description": "The date the subscription was last modified. Dates and times are in UTC format.",
                        "format": "date-time"
                    },
                    "paramsSchema": {
                        "type": "object",
                        "properties": {
                            "empty": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": {
                            "type": "object",
                            "description": "JSON schema that describes the parameters that the consumer must provide when subscribing to the application."
                        },
                        "description": "JSON schema that describes the parameters that the consumer must provide when subscribing to the application."
                    },
                    "planDescription": {
                        "type": "string",
                        "description": "The description of the plan for customer-facing UIs."
                    },
                    "planName": {
                        "type": "string",
                        "description": "The plan name of the application to which the consumer has subscribed."
                    },
                    "platformEntityId": {
                        "type": "string",
                        "description": "ID of the landscape-specific environment."
                    },
                    "quota": {
                        "type": "integer",
                        "description": "Total amount the subscribed subaccount is entitled to consume.",
                        "format": "int32"
                    },
                    "shortDescription": {
                        "type": "string",
                        "description": "The short description of the multitenant application for customer-facing UIs."
                    },
                    "state": {
                        "type": "string",
                        "description": "The subscription state of the subaccount regarding the multitenant application.",
                        "enum": [
                            "IN_PROCESS",
                            "SUBSCRIBED",
                            "SUBSCRIBE_FAILED",
                            "UNSUBSCRIBE_FAILED",
                            "UPDATE_FAILED",
                            "UPDATE_PARAMETERS_FAILED",
                            "NOT_SUBSCRIBED"
                        ]
                    },
                    "subscribedSubaccountId": {
                        "type": "string",
                        "description": "The ID of the subaccount which is subscribed to the multitenant application."
                    },
                    "subscribedTenantId": {
                        "type": "string",
                        "description": "The ID of the tenant which is subscribed to a multitenant application."
                    },
                    "subscriptionError": {
                        "$ref": "#/components/schemas/EntitledApplicationsErrorResponseObject"
                    },
                    "subscriptionGUID": {
                        "type": "string",
                        "description": "Unique subscription ID associated with the instance of the dependent service to be used for future references, such as 'GET all subscriptions' API call."
                    },
                    "subscriptionId": {
                        "type": "string",
                        "description": "Technical ID generated by XSUAA for a multitenant application when a consumer subscribes to the application."
                    },
                    "subscriptionUrl": {
                        "type": "string",
                        "description": "URL for app users to launch the subscribed application."
                    },
                    "supportsParametersUpdates": {
                        "type": "boolean",
                        "description": "Specifies whether a consumer, whose subaccount is subscribed to the application, can change its subscriptions parameters."
                    },
                    "supportsPlanUpdates": {
                        "type": "boolean",
                        "description": "Specifies if a consumer, whose subaccount is subscribed to the application, can change the subscription to a different plan that is available for this application and subaccount."
                    },
                    "tenantId": {
                        "type": "string",
                        "description": "Tenant ID of the application provider."
                    }
                },
                "description": "The response  list of all the multitenant applications to which a specified subaccount is entitled to subscribe."
            },
            "JobErrorResponseObject": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string",
                        "description": "Description of the error."
                    },
                    "exception": {
                        "type": "string",
                        "description": "The runtime exception for the error."
                    },
                    "message": {
                        "type": "string",
                        "description": "The message associated with the current error."
                    },
                    "paths": {
                        "type": "string",
                        "description": "Path of the exception received from the server."
                    },
                    "status": {
                        "type": "integer",
                        "description": "Error status code.",
                        "format": "int32"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Timestamp of the error.",
                        "format": "date-time"
                    }
                },
                "description": "Error message when the state is FAILED."
            },
            "JobStateResponseObject": {
                "type": "object",
                "properties": {
                    "createdBy": {
                        "type": "string",
                        "description": "The service instance ID of the SAP SaaS Provisioning service (saas-registry) that the application is using."
                    },
                    "error": {
                        "$ref": "#/components/schemas/JobErrorResponseObject"
                    },
                    "id": {
                        "type": "string",
                        "description": "ID of the corresponding job."
                    },
                    "state": {
                        "type": "string",
                        "description": "The current state of the corresponding job. Possible values:\n* <b>CREATED:</b> Job processing has created.\n* <b>STARTED:</b> Job processing has started.\n* <b>SUCCEEDED:</b> The job has completed.\n* <b>FAILED:</b> The job failed and did not complete.\n* <b>RETRY:</b> Subscription has timed out and job processing is pending a retry.",
                        "enum": [
                            "CREATED",
                            "STARTED",
                            "SUCCEEDED",
                            "FAILED",
                            "RETRY"
                        ]
                    }
                }
            },
            "JsonNode": {
                "type": "object",
                "description": "Error description in JSON format"
            },
            "LabelAssignmentRequestPayload": {
                "type": "object",
                "properties": {
                    "labels": {
[...]
