openapi: 3.0.1
info:
  contact: {}
  description: "Provides access to RoleTemplates, Roles, RoleCollection etc. using\
    \ the XSUAA REST API"
  license:
    name: "SAP SE, Walldorf, Germany"
    url: https://support.sap.com/en/my-support/keys.html
  termsOfService: ""
  title: SAP XSUAA REST API
  version: 1.0.0
servers:
- description: Generated server url
  url: https://xsuaa-provisioning.cf.sap.hana.ondemand.com
tags:
- description: API for providing access to XSUAA applications
  name: application
- description: API for providing access to XSUAA IDP groups to role collections mappings
  name: idp-role-collection
- description: API for providing access to XSUAA identity providers
  name: identity-providers
- description: API for providing access to the XSUAA roles
  name: roles
- description: API for managing user entries and role collections assignments
  name: usercontroller
- description: API for providing access to the XSUAA role templates
  name: roletemplates
- description: API to check if more custom platform IdP trusts are allowed
  name: customidp
- description: API for providing access to the xsuaa role collections
  name: rolecollections
- description: The tenants API
  name: tenant
- description: API to set the neoAuthN flag or check if set
  name: customidp
paths:
  /sap/rest/user:
    post:
      description: Creates a new user from the payload
      operationId: createUser
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/XSUser'
        required: true
      responses:
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Bad Request - The request was poorly formed. The specified
            origin is not allowed or the payload is invalid.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: OK - The API creates the new user.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Create user
      tags:
      - usercontroller
    put:
      description: Updates an existing user
      operationId: updateUser
      parameters:
      - explode: true
        in: query
        name: onlyRoleCollections
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/XSUser'
        required: true
      responses:
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Bad Request - The request was poorly formed. The specified
            origin is not allowed or the payload is invalid.
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: OK - The API updates the user.
        "404":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Not found - The user cannot be found.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Update a user
      tags:
      - usercontroller
  /sap/rest/user/origin/{origin}/name/{userName}/rolecollections/{roleCollectionName}:
    delete:
      description: Unassigns a role collection from a user.
      operationId: removeRoleCollection
      parameters:
      - explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: OK - The API unassigns the role collection from the user.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Bad Request - The request was poorly formed. The specified
            origin is invalid.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Unauthorized - Your authentication credentials have been refused.
        "404":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Not found - The user or role collection cannot be found.
      summary: Remove role collection from user
      tags:
      - usercontroller
    put:
      description: Assigns a role collection to a user. The user can be created if
        they do not exist yet.
      operationId: addRoleCollection
      parameters:
      - explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: createUserIfMissing
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: "OK - The API assigns the role collection the user. Additionally,\
            \ the user is created if requested"
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Bad Request - The request was poorly formed. The specified
            origin or payload is invalid.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
        "404":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Not found - The user or role collection cannot be found.
      summary: Add role collection to user
      tags:
      - usercontroller
  /sap/rest/platform-identity-providers-global/{originKey}:
    delete:
      description: Deletes a custom platform IdP and distributes the information in
        the own region.
      operationId: deletePlatformIdentityProvider
      parameters:
      - explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authenticated
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Deletes a custom platform identity provider.
      tags:
      - platform-identity-providers-global
    get:
      description: Reads a custom platform IdP from own region.
      operationId: getPlatformIdentityProvider
      parameters:
      - explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: refreshMetadata
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authenticated
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Reads a custom platform identity provider.
      tags:
      - platform-identity-providers-global
    put:
      description: Updates a custom platform IdP and distributes the information in
        the own region.
      operationId: updatePlatformIdentityProvider
      parameters:
      - explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: refreshTrust
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XSPlatformIdentityProvider'
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authenticated
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Updates a custom platform identity provider.
      tags:
      - platform-identity-providers-global
  /sap/rest/identity-providers/{id}:
    delete:
      operationId: deleteIdentityProvider
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: rawConfig
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: OK
      tags:
      - identity-providers
    get:
      description: Returns an identity provider specified by the id of the identity
        provider.
      operationId: retrieveIdentityProvider
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: rawConfig
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
          description: OK - The API returned the identity provider.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
          description: Not found - A possible reason is that there is no identity
            provider that matches the id of your request.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_idp.read
      summary: Returns an identity provider.
      tags:
      - identity-providers
    put:
      operationId: updateIdentityProvider
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: rawConfig
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XSIdentityProvider'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: OK
      tags:
      - identity-providers
  /sap/rest/identity-providers/migrate/{origin}:
    put:
      operationId: migrateSAMLToOIDCIDP
      parameters:
      - explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XSIdentityProvider'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: OK
      tags:
      - identity-providers
  /sap/rest/identity-providers/migrate/{origin}/rollback:
    put:
      operationId: rollbackSAMLToOIDCIDP
      parameters:
      - explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: OK
      tags:
      - identity-providers
  /sap/rest/authorization/v2/rolecollections/{roleCollectionName}:
    delete:
      description: Deletes a role collection specified by the name of the role collection.
      operationId: deleteRoleCollectionByName
      parameters:
      - description: Name of collection to be retrieved
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - The API deleted the role collection.
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Not Found - Possible reasons: No role collection could be\
            \ found that matches your request."
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "204":
          content:
            application/json:
              schema:
                type: object
          description: No Content - The API deleted the role collection.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.write
      summary: Deletes a role collection.
      tags:
      - rolecollections
    get:
      description: Returns information about a role collection identified by the name
        of the role collection.
      operationId: getRoleCollectionByName
      parameters:
      - description: Name of collection to be retrieved
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: withRoles
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: withUsers
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: withGroups
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: "Not Found - Possible reasons: No role collection could be\
            \ found that matches your request."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: OK - The API retuned information about the role.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
      summary: Returns a role collection.
      tags:
      - rolecollections
    put:
      description: Updates the description of a role collection specified by the name
        of the role collection. You cannot change any other attribute of the role
        collection.
      operationId: changeRoleCollectionDescription
      parameters:
      - description: Name of the role collection
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCollectionDescription'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - The API updated the role collection description.
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Not Found - Possible reasons: No role collection could be\
            \ found that matches your request."
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Created - The API updated the role collection description.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Updates the description of a role collection.
      tags:
      - rolecollections
  /sap/rest/authorization/v2/rolecollections/{roleCollectionName}/roles:
    delete:
      description: "Updates a role collection by removing an array of roles from role\
        \ collection. Specify the roles by role name, application ID, and role template\
        \ name. These roles are removed from the role collection."
      operationId: deleteRolesFromRoleCollection
      parameters:
      - description: Name of the role collection
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              description: "The list of role references in an array, specified by\
                \ the role name, application ID, and role template name."
              items:
                $ref: '#/components/schemas/RoleReference'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - The API updated the role collection with the specified
            roles.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Created - The API updated the role collection with the specified
            roles.
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Not Found - Possible reasons: No role collection or role could\
            \ be found that matches your request."
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Remove roles from role collection.
      tags:
      - rolecollections
    get:
      description: Returns information about the roles of a role collection specified
        by the name of the role collection.
      operationId: getRolesByRoleCollectionName
      parameters:
      - description: Name of the role collection
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: "Not Found - Possible reasons: No role collection could be\
            \ found that matches your request."
        "403":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: OK - The API returned roles for the role collection.
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: Bad Request - The request was poorly formed.
      security:
      - xs_auth:
        - xs_authorization.read
      summary: Returns the roles of a role collection.
      tags:
      - rolecollections
    put:
      description: "Updates a role collection with an array of roles. Specify the\
        \ roles by role name, application ID, and role template name. These roles\
        \ are added to the roles already included in the role collection."
      operationId: addRolesToRoleCollection
      parameters:
      - description: Name of the role collection
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              description: "The list of role references in an array, specified by\
                \ the role name, application ID, and role template name."
              items:
                $ref: '#/components/schemas/RoleReference'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - The API updated the role collection with the specified
            roles.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Created - The API updated the role collection with the specified
            roles.
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Not Found - Possible reasons: No role collection or role could\
            \ be found that matches your request."
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.write
        - xs_authorization.write
      summary: Add roles to role collection.
      tags:
      - rolecollections
  /sap/rest/authorization/v2/rolecollections/{roleCollectionName}/roles/{roleTemplateAppID}/{roleName}/{roleTemplateName}:
    delete:
      description: Deletes a role specified by the role reference from a role collection.
      operationId: deleteRoleFromRoleCollection
      parameters:
      - description: Name of the role collection
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      - description: AppID of the Role Template
        explode: false
        in: path
        name: roleTemplateAppID
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the Role
        explode: false
        in: path
        name: roleName
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the Role Template
        explode: false
        in: path
        name: roleTemplateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - The API removed the role from the role collection.
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Not Found - Possible reasons: No role collection or role could\
            \ be found that matches your request."
        "204":
          content:
            application/json:
              schema:
                type: object
          description: Created - The API removed the role from the role collection.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Deletes a role from a role collection.
      tags:
      - rolecollections
    put:
      description: "Adds a role reference, specified by role name, application ID,\
        \ and role template name, to a role collection."
      operationId: addRoleToRoleCollection
      parameters:
      - description: The name of the role collection to update.
        explode: false
        in: path
        name: roleCollectionName
        required: true
        schema:
          type: string
        style: simple
      - description: "The application ID, with which the role is associated."
        explode: false
        in: path
        name: roleTemplateAppID
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the role to add to the role collection.
        explode: false
        in: path
        name: roleName
        required: true
        schema:
          type: string
        style: simple
      - description: "The name of the role template, with which the role is associated."
        explode: false
        in: path
        name: roleTemplateName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Created - The API updated the role collection with the specified
            role.
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Not Found - Possible reasons: No role collection or role could\
            \ be found that matches your request."
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK - The API updated the role collection with the specified
            role.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Adds a role to role a collection.
      tags:
      - rolecollections
  /sap/rest/authorization/v2/apps/{appId}/roletemplates/{templateName}/roles/{roleName}:
    delete:
      description: "Deletes a role specfied by app ID, role template name, and role\
        \ name."
      operationId: deleteRoleByRoleName
      parameters:
      - description: Application ID
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the template
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the role
        explode: false
        in: path
        name: roleName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: The API deleted the role.
        "404":
          content:
            '*/*':
              schema:
                type: object
          description: "Not found. Possible reasons: No service instance, role template\
            \ name, or role name could be found that match your request."
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Deletes a role.
      tags:
      - roles
    get:
      description: "Returns a role specified by the app ID, role template, and role\
        \ name."
      operationId: getRoleByAppAndRoleTemplate
      parameters:
      - description: ID of the application
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the template
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the role
        explode: false
        in: path
        name: roleName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: The API returned the role.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: "Not found. Possible reasons: No service instances, role templates,\
            \ or role names could be found that match your request."
      security:
      - xs_auth:
        - xs_authorization.read
      summary: Returns the role of a service instance.
      tags:
      - roles
    put:
      description: "Updates a role specfied by app ID, role template name, and role\
        \ name."
      operationId: updateRole
      parameters:
      - description: ID of the application
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the role template
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the role
        explode: false
        in: path
        name: roleName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: The API updated and returned the role.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Conflict
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Your request was poorly formed or the role is read-only.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: "Not found. Possible reasons: No service instance, role template\
            \ name, or role name could be found that match your request."
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Updates a role
      tags:
      - roles
  /sap/rest/user/bulk:
    post:
      description: Creates a set of users from the list in the payload
      operationId: createUsers
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              items:
                $ref: '#/components/schemas/XSUser'
              type: array
        required: true
      responses:
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Bad Request - The request was poorly formed. The specified
            origin is not allowed or the payload is invalid.
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: OK - The API creates all users.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Create multiple users
      tags:
      - usercontroller
  /sap/rest/platform-identity-providers-global:
    get:
      description: Reads all custom platform IdPs from own region.
      operationId: getPlatformIdentityProviders
      parameters:
      - explode: true
        in: query
        name: userbase
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromModifiedAtInMillis
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: globalAccountId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: active
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: originXsuaa
        required: false
        schema:
          type: string
        style: form
      responses:
        "500":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/XSPlatformIdentityProvider'
                type: array
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/XSPlatformIdentityProvider'
                type: array
          description: Not Authorized
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/XSPlatformIdentityProvider'
                type: array
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/XSPlatformIdentityProvider'
                type: array
          description: Not Authenticated
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Reads all custom platform identity providers.
      tags:
      - platform-identity-providers-global
    post:
      description: Creates a custom platform IdP and distributes the information in
        the own region.
      operationId: createPlatformIdentityProvider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XSPlatformIdentityProvider'
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Internal Server Error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Conflict
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authenticated
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Created
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Creates a custom platform identity provider.
      tags:
      - platform-identity-providers-global
  /sap/rest/platform-identity-providers-global/{originKey}/globalaccountids:
    get:
      description: Reads GlobalAccountIds of a custom platform IdP.
      operationId: getPlatformIdentityProviderGlobalAccountIds
      parameters:
      - explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Not Authenticated
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      security:
      - xs_idp_global:
        - xs_idp_global.read
      summary: Reads GlobalAccountIds.
      tags:
      - platform-identity-providers-global
    post:
      description: Adds a globalAccountId to a custom platform IdP.
      operationId: addPlatformIdentityProviderGlobalAccountId
      parameters:
      - explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Not Authenticated
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Created
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Adds a globalAccountId.
      tags:
      - platform-identity-providers-global
  /sap/rest/platform-identity-providers-global/refreshTrusts:
    post:
      description: Refreshes all platform Identity Provider trusts or trusts provided
        in the body.
      operationId: refreshPlatformIdentityProviderTrusts
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        required: true
      responses:
        "500":
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
        "403":
          content:
            application/json:
              schema:
                type: string
          description: Not Authorized
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Not Authenticated
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      security:
      - xs_idp_global:
        - xs_idp_global.write
      summary: Refreshes platform Identity Provider trusts.
      tags:
      - platform-identity-providers-global
  /sap/rest/identity-providers:
    get:
      description: Returns a list of identity providers for the current subaccount.
      operationId: retrieveIdentityProviders
      parameters:
      - explode: true
        in: query
        name: activeOnly
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: rawConfig
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
                type: array
          description: OK - The API returns the list of identity providers.
        "403":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
                type: array
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "401":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition'
                type: array
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_idp.read
      summary: Returns a list of identity providers.
      tags:
      - identity-providers
    post:
      description: Creates an identity provider based on a configuration in JSON format.
      operationId: createIdentityProvider
      parameters:
      - explode: true
        in: query
        name: rawConfig
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XSIdentityProvider'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: The identity provider has been created.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: Access denied. You do not have the authorizations required
            to access the resource.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition'
          description: Access denied. Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_idp.write
      summary: Creates an identity provider.
      tags:
      - identity-providers
  /sap/rest/globalaccount/{globalAccountId}/platform-identity-providers:
    get:
      description: Reads all platform identity providers as help values for token
        GA.
      operationId: getPlatformIdentityProvidersForGA
      parameters:
      - description: Global account ID
        explode: false
        in: path
        name: globalAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/XSPlatformIdentityProvider'
                type: array
          description: Ok
      security:
      - xs_idp:
        - xs_idp.read
      summary: Reads all platform IdPs for token GA.
      tags:
      - platform-identity-providers
    post:
      description: Adds a Trust for a platform identity provider.
      operationId: addPlatformIdentityProviderTrust
      parameters:
      - description: Global account ID
        explode: false
        in: path
        name: globalAccountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlatformIdentityProviderTrust'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Trust added to token GA
      security:
      - xs_idp:
        - xs_idp.write
      summary: Adds GA Trust for a given origin.
      tags:
      - platform-identity-providers
  /sap/rest/authorization/v2/users/current/rolecollections:
    delete:
      description: delete role collections for a user
      operationId: deleteRoleCollectionsForUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCollectionListDto'
        required: true
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
        "400":
          description: Bad Request
        "403":
          description: No Authorization
      security:
      - xs_auth:
        - xs_authorization.write
      summary: Delete bulk role collections of User
      tags:
      - rolecollections
    get:
      description: all role collections for a user
      operationId: getRoleCollectionsForUser_1
      parameters:
      - description: User ID
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: No Authorization
      summary: Get role collections of User
      tags:
      - rolecollections
    post:
      description: create role collections for a user
      operationId: createRoleCollectionsForUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCollectionListDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: No Authorization
      security:
      - xs_auth:
        - xs_authorization.write
      summary: Create bulk role collections for a User
      tags:
      - rolecollections
  /sap/rest/authorization/v2/rolecollections:
    get:
      description: "Returns all role collections which exist within the current subaccount,\
        \ sorted alphabetically by their names."
      operationId: getRoleCollections
      parameters:
      - description: "Set this parameter to true, to include the roles, that are associated\
          \ with the role collections."
        explode: true
        in: query
        name: showRoles
        required: false
        schema:
          type: boolean
        style: form
      - description: "Set this parameter to true, to include the users, to whom the\
          \ role collections are assigned."
        explode: true
        in: query
        name: showUsers
        required: false
        schema:
          type: boolean
        style: form
      - description: "Set this parameter to true, to include the groups, to which\
          \ the role collections are assigned."
        explode: true
        in: query
        name: showGroups
        required: false
        schema:
          type: boolean
        style: form
      - description: Set this parameter to enable paging starting at record <skip>.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Set this parameter to get at most <top> records. If set, maxed\
          \ at 500."
        explode: true
        in: query
        name: top
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Set this parameter to filter the result based on the name of
          the rolecollections.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Set this parameter to filter the result based on the readOnly
          property of the rolecollections.
        explode: true
        in: query
        name: readOnly
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleCollection'
                type: array
          description: OK - The API returned role collections of the current subaccount.
        "403":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleCollection'
                type: array
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleCollection'
                type: array
          description: "Not Found - Possible reasons, no role collections could be\
            \ found that match your request."
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleCollection'
                type: array
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleCollection'
                type: array
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
      summary: Returns role collections.
      tags:
      - rolecollections
    post:
      description: "Creates a role collection. You must include a role name at a minimum.\
        \ The description is created as null if you do not include one. You can include\
        \ role references as defined by the role name, the application ID, and role\
        \ template name. To assign group members use the /Groups endpoint. Groups\
        \ are mapped to role collections in the Authorization and Trust Management\
        \ service."
      operationId: createRoleCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCollection'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Unprocessable Content - The maximal number of custom role collections
            per subaccount was exceeded.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: "Not found - Possible reasons, no role collections could be\
            \ found that match your request."
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: OK - The API created the role collection and returned information
            about the role collection.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Created - The API created the role collection and returned
            information about the role collection.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: "Bad Request - The request was poorly formed. For example,\
            \ the API does not support setting isReadOnly to true."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Creates a role collection.
      tags:
      - rolecollections
  /sap/rest/authorization/v2/rolecollections/bulk:
    delete:
      description: Bulk delete of role collections specified by the name of the role
        collection.
      operationId: deleteRoleCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCollectionNamesDto'
        required: true
      responses:
        "404":
          description: "Not found - Possible reasons, no role collections could be\
            \ found that match your request."
        "403":
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "400":
          description: "Bad Request - The request was poorly formed. For example,\
            \ the API does not support setting isReadOnly to true."
        "204":
          description: Deleted - The API deleted the role collections.
        "401":
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.write
      summary: Bulk delete of role collections.
      tags:
      - rolecollections
    post:
      description: Bulk create of role collections specified by the name of the role
        collection.
      operationId: createRoleCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCollectionsBulkDto'
        required: true
      responses:
        "404":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
          description: "Not found - Possible reasons, no role collections could be\
            \ found that match your request."
        "403":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "201":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Created - The API created the role collections and returned
            information about the role collections.
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
          description: "Bad Request - The request was poorly formed. For example,\
            \ the API does not support setting isReadOnly to true."
        "401":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_authorization.write
      summary: Bulk creation of role collections.
      tags:
      - rolecollections
  /sap/rest/authorization/v2/identity-providers/{origin}/attributes:
    post:
      description: Add an attribute with value and operation to current IdP and application
        role collection.
      operationId: addIdpAttributeToRoleCollection
      parameters:
      - description: Origin Key
        explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderMapping'
        required: true
      responses:
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                type: object
          description: No Authorization
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Created
      security:
      - xs_auth:
        - xs_authorization.read
      summary: Add a Idp attribute with value and operator to a role collection
      tags:
      - idp-role-collection
  /sap/rest/authorization/v2/apps/roles:
    post:
      description: Create a role for an application based on a role template. You
        must define the role name and description as well as identify the application
        and the role template name that you want to include in the role. The role
        inherits the scopes of the role template.
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Unprocessable Content. The maximal number of custom roles per
            subaccount was exceeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: The API created the role.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Access denied. You do not have the authorizations required
            to access the resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Your request was poorly formed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Access denied. Your authentication credentials have been refused.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Conflict. A role with the same name based on the same template
            already exists.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Not found.
      security:
      - xs_auth:
        - xs_authorization.read
        - xs_authorization.write
      summary: Creates a role for an application.
      tags:
      - roles
  /Users:
    get:
      operationId: findUsers
      parameters:
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          default: id pr
          type: string
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: created
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: ascending
          type: string
        style: form
      - explode: true
        in: query
        name: startIndex
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResultsObject'
          description: OK
      tags:
      - scim-user-endpoints
    post:
      operationId: createUser_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUser'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScimUser'
          description: Created
      tags:
      - scim-user-endpoints
  /Groups:
    get:
      operationId: listGroups
      parameters:
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          default: id pr
          type: string
        style: form
      - explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: displayName
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: ascending
          type: string
        style: form
      - explode: true
        in: query
        name: startIndex
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResultsObject'
          description: OK
      tags:
      - scim-group-endpoints
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScimGroup'
          description: Created
      tags:
      - scim-group-endpoints
  /sap/rest/globalaccount/{globalAccountId}/platform-identity-providers/{originKey}:
    delete:
      description: Deletes a trust for a platform identity provider.
      operationId: deletePlatformIdentityProviderTrust
      parameters:
      - description: Global account ID
        explode: false
        in: path
        name: globalAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: Origin of the trust to remove
        explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Trust deleted from GA
      security:
      - xs_idp:
        - xs_idp.write
      summary: Deletes a GA Trust for given origin.
      tags:
      - platform-identity-providers
    patch:
      description: Updates a trust for a platform identity provider.
      operationId: updatePlatformIdentityProviderTrust
      parameters:
      - description: Global account ID
        explode: false
        in: path
        name: globalAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: Origin of the trust to remove
        explode: false
        in: path
        name: originKey
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: refreshTrust
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlatformIdentityProviderTrust'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Trust updated from GA
      security:
      - xs_idp:
        - xs_idp.write
      summary: Updates a GA Trust for given origin.
      tags:
      - platform-identity-providers
  /sap/rest/authorization/v2/securitySettings:
    get:
      operationId: readSettings
      parameters:
      - explode: true
        in: query
        name: token
        required: true
        schema:
          $ref: '#/components/schemas/Token'
        style: form
      - description: ID of tenant that should be returned
        explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsResp'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsResp'
          description: Not Found
      security:
      - tenant_auth:
        - xs_tenant.read
        - xs_authorization.read
      summary: Reads settings of a tenant
      tags:
      - tenant
    patch:
      description: Updates settings of a tenant
      operationId: updateSettings
      parameters:
      - description: ID of tenant that should be updated
        explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettingsReq'
        required: true
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsResp'
          description: JSON malformed
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsResp'
          description: Updated
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsResp'
          description: Not Found
      security:
      - tenant_auth:
        - xs_authorization.write
        - xs_tenant.write
      tags:
      - tenant
  /sap/rest/user/origin:
    get:
      description: Returns all unique origin values of all users in the account.
      operationId: getOrigins
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  type: string
                type: array
          description: OK - The API returns the origin names.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  type: string
                type: array
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  type: string
                type: array
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Get origins of users
      tags:
      - usercontroller
  /sap/rest/user/origin/{origin}/name:
    get:
      description: "Returns all usernames in the account, sorted alphabetically"
      operationId: getUserNames
      parameters:
      - explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: details
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: OK - The API returns the user names.
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Bad Request - The request was poorly formed. The specified
            origin is not allowed or the filter is invalid.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: NotFound - Could not find the following resource.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Get usernames
      tags:
      - usercontroller
  /sap/rest/user/origin/{origin}/name/{username}:
    get:
      description: Returns the user record of the specified username and origin
      operationId: getUserByName
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: OK - The API returns the user record.
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Bad Request - The request was poorly formed. The specified
            origin is not allowed or the parameters are invalid.
        "404":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Not found - The user cannot be found.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/XSUser'
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Get a specifiy user
      tags:
      - usercontroller
  /sap/rest/user/id/{id}:
    delete:
      description: Deletes an existing user with the specified user ID
      operationId: deleteUserById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK - The API deletes the user.
        "404":
          content:
            '*/*':
              schema:
                type: object
          description: Not found - The user cannot be found.
        "403":
          content:
            '*/*':
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "400":
          content:
            '*/*':
              schema:
                type: object
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            '*/*':
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Delete a user
      tags:
      - usercontroller
    get:
      description: Retrieves a user with the specified ID
      operationId: getUserById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: OK - The API returns the user.
        "404":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Not found - The user cannot be found.
        "403":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "400":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Bad Request - The request was poorly formed.
        "401":
          content:
            application/json;charset=utf-8:
              schema:
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      summary: Read user by ID
      tags:
      - usercontroller
  /sap/rest/tenantLoginInfo/{subdomain}:
    get:
      operationId: getZoneInformationBySubdomain
      parameters:
      - description: Subdomain of the tenant
        explode: false
        in: path
        name: subdomain
        required: true
        schema:
          type: string
        style: simple
      - description: ClientId of the application created by the identity broker
        explode: true
        in: query
        name: iasClient
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSTenantV2ZoneInformation'
          description: OK
      summary: Get Zone information for tenant
      tags:
      - zone-trust-information
  /sap/rest/neo/platformidentityproviders:
    get:
      description: Returns the feature flag value for a neo user for a IAS tenant
      operationId: getCustomIdPFeatureFlagForNeoUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSPlatformIdentityProvider'
          description: Ok
      summary: Returns the feature flag value for a neo user for a IAS tenant
      tags:
      - customidp
  /sap/rest/identity-providers/ias:
    get:
      description: "For the current XSUAA tenant, returns those IAS tenants for which\
        \ no SAML trust has been set up yet."
      operationId: retrieveIasTenants
      parameters:
      - explode: true
        in: query
        name: all
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: additionalInfo
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "403":
          content:
            '*/*':
              schema:
                items:
                  additionalProperties:
                    type: object
                  type: object
                type: array
                uniqueItems: true
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            '*/*':
              schema:
                items:
                  additionalProperties:
                    type: object
                  type: object
                type: array
                uniqueItems: true
          description: Not found - A possible reason is that there is no identity
            provider that matches the id of your request.
        "200":
          content:
            '*/*':
              schema:
                items:
                  additionalProperties:
                    type: object
                  type: object
                type: array
                uniqueItems: true
          description: OK - The API returned the IAS tenant list.
        "401":
          content:
            '*/*':
              schema:
                items:
                  additionalProperties:
                    type: object
                  type: object
                type: array
                uniqueItems: true
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_idp.read
      summary: Returns a list of valid IAS tenants.
      tags:
      - identity-providers
  /sap/rest/identity-providers/ias/{tenantURL}:
    get:
      description: Returns a specific IAS tenants for the current XSUAA tenant.
      operationId: retrieveSpecificIasTenant
      parameters:
      - explode: false
        in: path
        name: tenantURL
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: all
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: additionalInfo
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "403":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Forbidden - You do not have the authorizations required to
            access the resource.
        "404":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Not found - A possible reason is that there is no identity
            provider that matches the id of your request.
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK - The API returned the IAS tenant list.
        "401":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Unauthorized - Your authentication credentials have been refused.
      security:
      - xs_auth:
        - xs_idp.read
      summary: Returns a specific IAS tenant.
      tags:
      - identity-providers
  /sap/rest/identity-providers/ias/status:
    get:
      description: Returns the current status of the IAS registry component. This
        includes a json payload containing errors or a health statement.
      operationId: getRegistryStatus
      responses:
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Not found - A possible reason is that there is no identity
            provider that matches the id of your request.
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK - The API returns the state of the registry.
      summary: Returns the status of IAS registry.
      tags:
      - identity-providers
  /sap/rest/identity-providers/btpcli/identity-providers:
    get:
      deprecated: true
      operationId: retrieveIdentityProvidersForBtpCliDeprecated
      parameters:
      - explode: true
        in: query
        name: activeOnly
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: rawConfig
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/BtpCliXsIdentityProvider'
                type: array
          description: OK
      tags:
      - identity-providers
  /sap/rest/globalaccount/{globalAccountId}/platform-identity-providers/status:
    get:
      description: Return whether multiple custom platform IdP trusts are allowed
      operationId: areMoreTrustsAllowed
      parameters:
      - explode: false
        in: path
        name: globalAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomIdpCockpitResponse'
          description: OK
      security:
      - xs_idp:
        - xs_idp.read
      summary: Return whether multiple custom platform IdP trusts are allowed
      tags:
      - customidp
  /sap/rest/authorization/v2/zoneinfo/{subdomain}:
    get:
      operationId: getZoneInformationBySubdomain_1
      parameters:
      - description: Subdomain of the tenant
        explode: false
        in: path
        name: subdomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSTenantV2ZoneInformation'
          description: OK
      summary: Get Zone information for tenant
      tags:
      - zone-trust-information
  /sap/rest/authorization/v2/users/{userId}/rolecollections:
    get:
      description: all role collections for a user
      operationId: getRoleCollectionsForUser
      parameters:
      - description: User ID
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollectionListDto'
          description: No Authorization
      summary: Get role collections of User
      tags:
      - rolecollections
  /sap/rest/authorization/v2/securitySettings/public:
    get:
      operationId: readPublicSettings
      parameters:
      - explode: true
        in: query
        name: subdomain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tenantId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "404":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: Not Found
        "400":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: "Bad Request, either subdomain or tenant ID (but not both)\
            \ must be provided"
      summary: Reads public settings of a tenant
      tags:
      - tenant
  /sap/rest/authorization/v2/roles:
    get:
      description: "Returns all application roles for all service instances which\
        \ are registered at UAA as OAuth2 client, sorted alphabetically by their name\
        \ and roleTemplateAppId. The roles that are returned are limited to the subaccount\
        \ credentials that are used for this request."
      operationId: getRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: The API returned the roles.
        "403":
[...]
