{
  "openapi": "3.0.1",
  "info": {
    "title": "SAP XSUAA REST API",
    "description": "Provides access to RoleTemplates, Roles, RoleCollection etc. using the XSUAA REST API",
    "termsOfService": "",
    "contact": {},
    "license": {
      "name": "SAP SE, Walldorf, Germany",
      "url": "https://support.sap.com/en/my-support/keys.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://xsuaa-provisioning.cf.sap.hana.ondemand.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "application",
      "description": "API for providing access to XSUAA applications"
    },
    {
      "name": "idp-role-collection",
      "description": "API for providing access to XSUAA IDP groups to role collections mappings"
    },
    {
      "name": "identity-providers",
      "description": "API for providing access to XSUAA identity providers"
    },
    {
      "name": "roles",
      "description": "API for providing access to the XSUAA roles"
    },
    {
      "name": "usercontroller",
      "description": "API for managing user entries and role collections assignments"
    },
    {
      "name": "roletemplates",
      "description": "API for providing access to the XSUAA role templates"
    },
    {
      "name": "customidp",
      "description": "API to check if more custom platform IdP trusts are allowed"
    },
    {
      "name": "rolecollections",
      "description": "API for providing access to the xsuaa role collections"
    },
    {
      "name": "tenant",
      "description": "The tenants API"
    },
    {
      "name": "customidp",
      "description": "API to set the neoAuthN flag or check if set"
    }
  ],
  "paths": {
    "/sap/rest/user": {
      "put": {
        "tags": [
          "usercontroller"
        ],
        "summary": "Update a user",
        "description": "Updates an existing user",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "onlyRoleCollections",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/XSUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The request was poorly formed. The specified origin is not allowed or the payload is invalid.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "200": {
            "description": "OK - The API updates the user.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The user cannot be found.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "usercontroller"
        ],
        "summary": "Create user",
        "description": "Creates a new user from the payload",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json;charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/XSUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The request was poorly formed. The specified origin is not allowed or the payload is invalid.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "200": {
            "description": "OK - The API creates the new user.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          }
        }
      }
    },
    "/sap/rest/user/origin/{origin}/name/{userName}/rolecollections/{roleCollectionName}": {
      "put": {
        "tags": [
          "usercontroller"
        ],
        "summary": "Add role collection to user",
        "description": "Assigns a role collection to a user. The user can be created if they do not exist yet.",
        "operationId": "addRoleCollection",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCollectionName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createUserIfMissing",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API assigns the role collection the user. Additionally, the user is created if requested",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. The specified origin or payload is invalid.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The user or role collection cannot be found.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "usercontroller"
        ],
        "summary": "Remove role collection from user",
        "description": "Unassigns a role collection from a user.",
        "operationId": "removeRoleCollection",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCollectionName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API unassigns the role collection from the user.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. The specified origin is invalid.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The user or role collection cannot be found.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          }
        }
      }
    },
    "/sap/rest/platform-identity-providers-global/{originKey}": {
      "get": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Reads a custom platform identity provider.",
        "description": "Reads a custom platform IdP from own region.",
        "operationId": "getPlatformIdentityProvider",
        "parameters": [
          {
            "name": "originKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refreshMetadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Updates a custom platform identity provider.",
        "description": "Updates a custom platform IdP and distributes the information in the own region.",
        "operationId": "updatePlatformIdentityProvider",
        "parameters": [
          {
            "name": "originKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refreshTrust",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XSPlatformIdentityProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Deletes a custom platform identity provider.",
        "description": "Deletes a custom platform IdP and distributes the information in the own region.",
        "operationId": "deletePlatformIdentityProvider",
        "parameters": [
          {
            "name": "originKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/identity-providers/{id}": {
      "get": {
        "tags": [
          "identity-providers"
        ],
        "summary": "Returns an identity provider.",
        "description": "Returns an identity provider specified by the id of the identity provider.",
        "operationId": "retrieveIdentityProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawConfig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returned the identity provider.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          },
          "404": {
            "description": "Not found - A possible reason is that there is no identity provider that matches the id of your request.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_idp.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "identity-providers"
        ],
        "operationId": "updateIdentityProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawConfig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XSIdentityProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "identity-providers"
        ],
        "operationId": "deleteIdentityProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawConfig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/sap/rest/identity-providers/migrate/{origin}": {
      "put": {
        "tags": [
          "identity-providers"
        ],
        "operationId": "migrateSAMLToOIDCIDP",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XSIdentityProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/sap/rest/identity-providers/migrate/{origin}/rollback": {
      "put": {
        "tags": [
          "identity-providers"
        ],
        "operationId": "rollbackSAMLToOIDCIDP",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/sap/rest/authorization/v2/rolecollections/{roleCollectionName}": {
      "get": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Returns a role collection.",
        "description": "Returns information about a role collection identified by the name of the role collection.",
        "operationId": "getRoleCollectionByName",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of collection to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withRoles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "withUsers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "withGroups",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found - Possible reasons: No role collection could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "200": {
            "description": "OK - The API retuned information about the role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Updates the description of a role collection.",
        "description": "Updates the description of a role collection specified by the name of the role collection. You cannot change any other attribute of the role collection.",
        "operationId": "changeRoleCollectionDescription",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of the role collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCollectionDescription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The API updated the role collection description.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons: No role collection could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created - The API updated the role collection description.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Deletes a role collection.",
        "description": "Deletes a role collection specified by the name of the role collection.",
        "operationId": "deleteRoleCollectionByName",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of collection to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API deleted the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons: No role collection could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content - The API deleted the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/rolecollections/{roleCollectionName}/roles": {
      "get": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Returns the roles of a role collection.",
        "description": "Returns information about the roles of a role collection specified by the name of the role collection.",
        "operationId": "getRolesByRoleCollectionName",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of the role collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found - Possible reasons: No role collection could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK - The API returned roles for the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Add roles to role collection.",
        "description": "Updates a role collection with an array of roles. Specify the roles by role name, application ID, and role template name. These roles are added to the roles already included in the role collection.",
        "operationId": "addRolesToRoleCollection",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of the role collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "The list of role references in an array, specified by the role name, application ID, and role template name.",
                "items": {
                  "$ref": "#/components/schemas/RoleReference"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The API updated the role collection with the specified roles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created - The API updated the role collection with the specified roles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons: No role collection or role could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.write",
              "xs_authorization.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Remove roles from role collection.",
        "description": "Updates a role collection by removing an array of roles from role collection. Specify the roles by role name, application ID, and role template name. These roles are removed from the role collection.",
        "operationId": "deleteRolesFromRoleCollection",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of the role collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "The list of role references in an array, specified by the role name, application ID, and role template name.",
                "items": {
                  "$ref": "#/components/schemas/RoleReference"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - The API updated the role collection with the specified roles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created - The API updated the role collection with the specified roles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons: No role collection or role could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/rolecollections/{roleCollectionName}/roles/{roleTemplateAppID}/{roleName}/{roleTemplateName}": {
      "put": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Adds a role to role a collection.",
        "description": "Adds a role reference, specified by role name, application ID, and role template name, to a role collection.",
        "operationId": "addRoleToRoleCollection",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "The name of the role collection to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleTemplateAppID",
            "in": "path",
            "description": "The application ID, with which the role is associated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "description": "The name of the role to add to the role collection.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleTemplateName",
            "in": "path",
            "description": "The name of the role template, with which the role is associated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created - The API updated the role collection with the specified role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons: No role collection or role could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK - The API updated the role collection with the specified role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Deletes a role from a role collection.",
        "description": "Deletes a role specified by the role reference from a role collection.",
        "operationId": "deleteRoleFromRoleCollection",
        "parameters": [
          {
            "name": "roleCollectionName",
            "in": "path",
            "description": "Name of the role collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleTemplateAppID",
            "in": "path",
            "description": "AppID of the Role Template",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "description": "Name of the Role",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleTemplateName",
            "in": "path",
            "description": "Name of the Role Template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API removed the role from the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons: No role collection or role could be found that matches your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Created - The API removed the role from the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/apps/{appId}/roletemplates/{templateName}/roles/{roleName}": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "Returns the role of a service instance.",
        "description": "Returns a role specified by the app ID, role template, and role name.",
        "operationId": "getRoleByAppAndRoleTemplate",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "ID of the application",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateName",
            "in": "path",
            "description": "Name of the template",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "description": "Name of the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The API returned the role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "404": {
            "description": "Not found. Possible reasons: No service instances, role templates, or role names could be found that match your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "roles"
        ],
        "summary": "Updates a role",
        "description": "Updates a role specfied by app ID, role template name, and role name.",
        "operationId": "updateRole",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "ID of the application",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateName",
            "in": "path",
            "description": "Name of the role template",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "description": "Name of the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The API updated and returned the role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Your request was poorly formed or the role is read-only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "404": {
            "description": "Not found. Possible reasons: No service instance, role template name, or role name could be found that match your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "roles"
        ],
        "summary": "Deletes a role.",
        "description": "Deletes a role specfied by app ID, role template name, and role name.",
        "operationId": "deleteRoleByRoleName",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "Application ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateName",
            "in": "path",
            "description": "Name of the template",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "description": "Name of the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The API deleted the role.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found. Possible reasons: No service instance, role template name, or role name could be found that match your request.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/user/bulk": {
      "post": {
        "tags": [
          "usercontroller"
        ],
        "summary": "Create multiple users",
        "description": "Creates a set of users from the list in the payload",
        "operationId": "createUsers",
        "requestBody": {
          "content": {
            "application/json;charset=utf-8": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/XSUser"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The request was poorly formed. The specified origin is not allowed or the payload is invalid.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "OK - The API creates all users.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sap/rest/platform-identity-providers-global": {
      "get": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Reads all custom platform identity providers.",
        "description": "Reads all custom platform IdPs from own region.",
        "operationId": "getPlatformIdentityProviders",
        "parameters": [
          {
            "name": "userbase",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromModifiedAtInMillis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "globalAccountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originXsuaa",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Creates a custom platform identity provider.",
        "description": "Creates a custom platform IdP and distributes the information in the own region.",
        "operationId": "createPlatformIdentityProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XSPlatformIdentityProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/platform-identity-providers-global/{originKey}/globalaccountids": {
      "get": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Reads GlobalAccountIds.",
        "description": "Reads GlobalAccountIds of a custom platform IdP.",
        "operationId": "getPlatformIdentityProviderGlobalAccountIds",
        "parameters": [
          {
            "name": "originKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Adds a globalAccountId.",
        "description": "Adds a globalAccountId to a custom platform IdP.",
        "operationId": "addPlatformIdentityProviderGlobalAccountId",
        "parameters": [
          {
            "name": "originKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/platform-identity-providers-global/refreshTrusts": {
      "post": {
        "tags": [
          "platform-identity-providers-global"
        ],
        "summary": "Refreshes platform Identity Provider trusts.",
        "description": "Refreshes all platform Identity Provider trusts or trusts provided in the body.",
        "operationId": "refreshPlatformIdentityProviderTrusts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Not Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp_global": [
              "xs_idp_global.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/identity-providers": {
      "get": {
        "tags": [
          "identity-providers"
        ],
        "summary": "Returns a list of identity providers.",
        "description": "Returns a list of identity providers for the current subaccount.",
        "operationId": "retrieveIdentityProviders",
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawConfig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returns the list of identity providers.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSIdentityProviderAbstractIdentityProviderDefinition"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_idp.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "identity-providers"
        ],
        "summary": "Creates an identity provider.",
        "description": "Creates an identity provider based on a configuration in JSON format.",
        "operationId": "createIdentityProvider",
        "parameters": [
          {
            "name": "rawConfig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XSIdentityProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The identity provider has been created.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          },
          "403": {
            "description": "Access denied. You do not have the authorizations required to access the resource.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          },
          "401": {
            "description": "Access denied. Your authentication credentials have been refused.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderAbstractIdentityProviderDefinition"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_idp.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/globalaccount/{globalAccountId}/platform-identity-providers": {
      "get": {
        "tags": [
          "platform-identity-providers"
        ],
        "summary": "Reads all platform IdPs for token GA.",
        "description": "Reads all platform identity providers as help values for token GA.",
        "operationId": "getPlatformIdentityProvidersForGA",
        "parameters": [
          {
            "name": "globalAccountId",
            "in": "path",
            "description": "Global account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp": [
              "xs_idp.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "platform-identity-providers"
        ],
        "summary": "Adds GA Trust for a given origin.",
        "description": "Adds a Trust for a platform identity provider.",
        "operationId": "addPlatformIdentityProviderTrust",
        "parameters": [
          {
            "name": "globalAccountId",
            "in": "path",
            "description": "Global account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPlatformIdentityProviderTrust"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Trust added to token GA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XSPlatformIdentityProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_idp": [
              "xs_idp.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/users/current/rolecollections": {
      "get": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Get role collections of User",
        "description": "all role collections for a user",
        "operationId": "getRoleCollectionsForUser_1",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          },
          "403": {
            "description": "No Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Create bulk role collections for a User",
        "description": "create role collections for a user",
        "operationId": "createRoleCollectionsForUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCollectionListDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          },
          "403": {
            "description": "No Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollectionListDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Delete bulk role collections of User",
        "description": "delete role collections for a user",
        "operationId": "deleteRoleCollectionsForUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCollectionListDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "No Authorization"
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/rolecollections": {
      "get": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Returns role collections.",
        "description": "Returns all role collections which exist within the current subaccount, sorted alphabetically by their names.",
        "operationId": "getRoleCollections",
        "parameters": [
          {
            "name": "showRoles",
            "in": "query",
            "description": "Set this parameter to true, to include the roles, that are associated with the role collections.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showUsers",
            "in": "query",
            "description": "Set this parameter to true, to include the users, to whom the role collections are assigned.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showGroups",
            "in": "query",
            "description": "Set this parameter to true, to include the groups, to which the role collections are assigned.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Set this parameter to enable paging starting at record <skip>.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "top",
            "in": "query",
            "description": "Set this parameter to get at most <top> records. If set, maxed at 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Set this parameter to filter the result based on the name of the rolecollections.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "readOnly",
            "in": "query",
            "description": "Set this parameter to filter the result based on the readOnly property of the rolecollections.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returned role collections of the current subaccount.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleCollection"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleCollection"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no role collections could be found that match your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleCollection"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleCollection"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleCollection"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Creates a role collection.",
        "description": "Creates a role collection. You must include a role name at a minimum. The description is created as null if you do not include one. You can include role references as defined by the role name, the application ID, and role template name. To assign group members use the /Groups endpoint. Groups are mapped to role collections in the Authorization and Trust Management service.",
        "operationId": "createRoleCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCollection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content - The maximal number of custom role collections per subaccount was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "404": {
            "description": "Not found - Possible reasons, no role collections could be found that match your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "200": {
            "description": "OK - The API created the role collection and returned information about the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "201": {
            "description": "Created - The API created the role collection and returned information about the role collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. For example, the API does not support setting isReadOnly to true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleCollection"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read",
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/rolecollections/bulk": {
      "post": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Bulk creation of role collections.",
        "description": "Bulk create of role collections specified by the name of the role collection.",
        "operationId": "createRoleCollections",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCollectionsBulkDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not found - Possible reasons, no role collections could be found that match your request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created - The API created the role collections and returned information about the role collections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. For example, the API does not support setting isReadOnly to true.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "rolecollections"
        ],
        "summary": "Bulk delete of role collections.",
        "description": "Bulk delete of role collections specified by the name of the role collection.",
        "operationId": "deleteRoleCollections",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCollectionNamesDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not found - Possible reasons, no role collections could be found that match your request."
          },
          "403": {
            "description": "Forbidden - You do not have the authorizations required to access the resource."
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. For example, the API does not support setting isReadOnly to true."
          },
          "204": {
            "description": "Deleted - The API deleted the role collections."
          },
          "401": {
            "description": "Unauthorized - Your authentication credentials have been refused."
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.write"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/identity-providers/{origin}/attributes": {
      "post": {
        "tags": [
          "idp-role-collection"
        ],
        "summary": "Add a Idp attribute with value and operator to a role collection",
        "description": "Add an attribute with value and operation to current IdP and application role collection.",
        "operationId": "addIdpAttributeToRoleCollection",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "description": "Origin Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityProviderMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "No Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "xs_auth": [
              "xs_authorization.read"
            ]
          }
        ]
      }
    },
    "/sap/rest/authorization/v2/apps/roles": {
      "post": {
        "tags": [
          "roles"
        ],
        "summary": "Creates a role for an application.",
        "description": "Create a role for an application based on a role template. You must define the role name and description as well as identify the application and the role template name that you want to include in the role. The role inherits the scopes of the role template.",
        "operationId": "createRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content. The maximal number of custom roles per subaccount was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "201": {
            "description": "The API created the role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "403": {
            "description": "Access denied. You do not have the authorizations required to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Your request was poorly formed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "401": {
[...]
