# This workflow will builds a golang project and runs unit-tests
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Unit Tests

on:
  workflow_dispatch:
  workflow_call: 

jobs:

  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        submodules: true 

    - name: Set up Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version: '1.21'

    - name: Build
      run: go build -v ./...

    - name: Unit-Test Init
      run: make test.init
    - name: Unit-Test Run
      run: make test.run
